*{
	padding: 0px;
	margin: 0px;
}

body{

	font-family: 'Source Sans 3', sans-serif;
	font-size: 14px;
	line-height: 1.7em;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Source Sans 3', sans-serif;

}

a, a:hover{

	text-decoration: none;
}

.header {
  width: 100%;
  padding: 10px 0px;
  background: url("../images/banner.png") center top no-repeat;
  background-size: cover;
  
}

.header .navbar-expand-lg .navbar-nav .nav-link{

	    color: #fff;
        font-size: 14px;
        font-weight: 600;
        text-transform: capitalize;
        margin: 0px 0px 0px 12px;
}

.header .navbar-expand-lg .navbar-nav .nav-link:hover, .header .navbar-expand-lg .navbar-nav .nav-link:focus{
       background: url("../images/line.png") center bottom no-repeat;
       background-size: auto;

}

.header .navbar-nav .nav-link.active{
	   background: url("../images/line.png") center bottom no-repeat;
       background-size: auto;


}

 .banner{
 	width: 100%;
 	padding: 80px 0px;


 }

 .banner h4{
 	   font-size: 18px;
 	   font-weight: 600;
 	   text-transform: uppercase;
 	   color: #08c;
 	   letter-spacing: 1px;
 	   line-height: 1.3em;

 }

 .banner h1{
 		  font-size: 48px;
 	    font-weight: 600;
 	    line-height: 1.2em;
 	    margin: 15px 0px;
 	    color: #fff;

 }

 .banner p{
 	    font-size: 14px;
 	    font-weight: 600;
 	    text-transform: none;
 	    color: #999;	
 }

 .banner .action-buttons{
 	width: 100%;
 	padding: 40px 0px 0px;

 }

  .banner .action-buttons .btn-primary{
  	padding: 20px 30px;
  	border-radius: 3px;
  	font-size: 14px;
  	text-transform: uppercase;
  	letter-spacing: 1px;
  	font-weight: 600;
  	background-color: #08c;
  	border: 1px solid #08c;
  	color: #fff;
  	margin: 0px 20px 0px 0px;

 }

  .banner .action-buttons .btn-primary:hover{
  	background-color: transparent;
  	border: 1px solid #08c;
  	color: #08c;

 }

  .banner .action-buttons .btn-primary:focus{
  	background-color: transparent;
  	border: 1px solid #08c;
  	color: #08c;


 }



  .banner .action-buttons .btn-info{
  	padding: 20px 30px;
  	border-radius: 3px;
  	font-size: 14px;
  	text-transform: uppercase;
  	letter-spacing: 1px;
  	font-weight: 600;
  	background-color: transparent;
  	border: 1px solid #4d4e53;
  	color: #fff;

 }

  .banner .action-buttons .btn-info:hover{
  	background-color: #08c;
  	border: 1px solid #08c;
  	color: #fff;


 }

  .banner .action-buttons .btn-info:focus{
  	background-color: #08c;
  	border: 1px solid #08c;
  	color: #fff;

}

/*titla global css start here*/
.title{ 
	width: 100%;
}

.title h4{
	   font-size: 18px;
     font-weight: 600;
     text-transform: uppercase;
     color: #08c;
     letter-spacing: 1px;
     line-height: 1.3em;

}

.title h1{
	    font-size: 48px;
 	    font-weight: 600;
 	    line-height: 1.2em;
 	    margin: 15px 0px;
 	    color: #000;

	
}






/*titla global css end here*/
 

 .feature{
 	width: 100%;
 	padding: 80px 0px;
 }

  .feature .title{
  	padding: 0px 0px 60px;
  	text-align: center;

  }

   .inner-feature{

   	width: 100%;
   	padding: 20px 35px;
   	text-align: center;
   }

   .inner-feature .icon-box{
   	width: 85px;
   	height: 85px;
   	line-height: 85px;
   	margin: 0px auto 20px;
   	border-radius: 100%;
   	border: 1px solid #eee;
   }

  

   .inner-feature h4{
   	    font-size: 22px;
    	line-height: 1.2em;
    	font-weight: 600;
    	color: #000;
   	
   }

    .inner-feature p{
    	font-size: 14px;
    	line-height: 1.7em;
    	color: #999;
   	
   }

   .about-long{
    width: 100%;
    padding: 80px 0px;
    border-top: 1px solid #eee;
   }

   .about-long .title{
   margin: 35px 0px 30px;

  }

    .about-long p{
      font-size: 14px;
      line-height: 1.7em;
      color: #999999;
    }

    .about-long ul{
      padding: 0px;
      margin: 30px 0px 0px;
    }

     .about-long ul li{
      list-style: none;
      font-weight: 600;
      font-size: 16px;
      line-height: 1.7em;
      color: #000;
      margin: 0px 0px 10px;

     }

     .about-long ul li img{
      width: 14px;
      height: 16px;
      margin: 0px 5px 0px 0px;
     }


     .about-short{
      width: 100%;
      padding: 80px 0px;
      background: #f2f2f2;
     }

      .about-short .title{
        margin: 70px 0px 0px;

      }



     .about-short .title h1{
      font-size: 35px;

     }

     .about-short p{
      font-size: 14px;
      line-height: 1.7em;
      margin: 20px 0px 0px;
      color: #999999;
     }

    .testimonial{
      width: 100%;
      padding: 80px 0px;
      background: url("../images/tbg.png") center top no-repeat;
      background-size: cover;
    }

    .testimonial .title{
      text-align: center;
      padding: 0px 0px 60px;
    }

    .testimonial .title h1{
      color: #fff;
    }








    .eye-catcher{
      width: 100%;
      padding: 35px 0px;
      background: #15141a;
    }

     .eye-catcher h1{
      font-size: 30px;
      line-height: 1.2em;
      font-weight: 600;
      margin: 10px 0px 0px;
      color: #fff;
     }
     
     .eye-catcher h1 span{
      font-weight: 300;
     }

     .eye-catcher .action-buttons{
      text-align: right;
     }


      .eye-catcher .action-buttons .btn-primary{
    padding: 20px 30px;
    border-radius: 3px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    background-color: #08c;
    border: 1px solid #08c;
    color: #fff;
    margin: 0px 0px 0px 20px;

 }

  .eye-catcher .action-buttons .btn-primary:hover{
    background-color: transparent;
    border: 1px solid #08c;
    color: #08c;

 }

  .eye-catcher .action-buttons .btn-primary:focus{
    background-color: transparent;
    border: 1px solid #08c;
    color: #08c;


 }



  .eye-catcher .action-buttons .btn-info{
    padding: 20px 30px;
    border-radius: 3px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    background-color: transparent;
    border: 1px solid #4d4e53;
    color: #fff;

 }

  .eye-catcher .action-buttons .btn-info:hover{
    background-color: #08c;
    border: 1px solid #08c;
    color: #fff;


 }

  .eye-catcher .action-buttons .btn-info:focus{
    background-color: #08c;
    border: 1px solid #08c;
    color: #fff;

}

.pricing{
  width: 100%;
  padding: 80px 0px;
}

.pricing .title{
  text-align: center;
  padding: 0px 0px 60px;
}


.price-box{
  width: 100%;
  border: 1px solid #eee;
  text-align: center;

}

.price-head{
  width: 100%;
  padding: 20px 0px;
  border-bottom: 1px solid #eee;

}

.price-head h2{
  font-size: 38px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0px;

}

.main-price{
  width: 100%;
  padding: 30px 0px;
  border-bottom: 1px solid #eee;
}

.main-price h1{
  font-size: 80px;
  font-weight: 600;
  line-height: 1.2em;
  margin: 0px;

}

.main-price h1 sup{
  font-size: 36px;
  top: -25px;

}

.main-price p{
  font-size: 14px;
  line-height: 1.7em;
  margin: -15px 0px 0px;
  color: #999;
}

.price-content{
  width: 100%;
  padding: 40px 45px;
}

.price-content p{
  font-size: 14px;
  line-height: 1.7em;
  margin: 0px 0px 20px;
  color: #999;


}

.price-content p a{
  text-decoration: none;
  color: #08c;
  font-weight: 500;
}

.price-content .btn-primary{
      padding: 10px 25px;
    border-radius: 3px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    background-color: transparent;
    border: 1px solid #eee;
    color: #08c;
    margin: 20px 0px 0px 0px;

}

.price-box:hover .price-head h2{
  color: #08c;
}

.price-box:hover .main-price{
  background: #08c;
}

.price-box:hover .main-price h1, .price-box:hover .main-price p{
  color: #fff ;
} 

.price-box:hover .price-content .btn-primary{
    background: #08c;
    border: 1px solid #08c;
    color: #fff;



}


.contact-us{
  width: 100%;
  padding: 80px 0px 0px;
  background: #eee;
  position: relative;
}

.contact-us .title{
  text-align: center;
  padding: 0px 0px 60px;
}

.contact-us .title h4{
  font-size: 10px;
  line-height: 1.7em;
}

.contact-us .title h1{
  font-size: 30px;
}

.info{
  width: 100%;
  text-align: center;
}

.info img{
  width: 16px;
  margin: 0px 0px 20px;
}

.info p{
  font-size: 14px;
  line-height: 1.7em;
  color: #999;
}


.contact{
  width: 100%;
  padding: 40px 55px;
  margin: 60px 0px -70px;
  background: #000;
  z-index: 1;

}

.contact .form-control{
  padding: 15px 15px;
  border: 1px solid #444348;
  background: transparent;
  color:#999 ;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;

}

.text-right{
  text-align: right;
}

.contact .btn-primary{
    padding: 15px 35px;
    border-radius: 3px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    background-color: #08c;
    border: 1px solid #08c;
    color: #fff;
    margin: 0px 0px 0px 20px;

}

.contact .btn-primary:hover{
    background: transparent;
    border: 1px solid #08c;
    color: #08c;


}

.map{
  width: 100%;
}

.footer{
  width: 100%;
  padding: 50px 0px;
  background: #000;
}

.social-media{
  width: 100%;
  display: block;
  text-align: center;
  list-style: none;




 
}

.social-media li{
  display: inline-block;
  margin: 0px 18px;
}

.social-media p{
  margin: 15px 0px 0px 0px;
  color: #3e3d42;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}















  








 



 